<nav class="bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
  <%= link_to root_path, class: "text-white text-decoration-none" do %>
    <h4 class="mb-4">FishDrip</h4>
  <% end %>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" href="<%= root_path %>">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">投稿</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">マイページ</a>
    </li>
  </ul>
</nav>
